.game_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacer{
    height: 20px;
}

.inline_header {
    display: inline-block;
}